{{ define "main" }}

<!-- hero -->
{{ with .Params.hero }}
<!-- <section class="banner"> -->
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
      <div class="hero col-12 mx-auto text-center">
        <!-- {{with .image}}<img src="{{ . | relURL }}" alt="" class="img-fluid mt-5" width="750px">{{end}} -->
        <!-- <div {{if gt (len .images) 1}} class="slider" {{end}}> -->
          <div class="slider">
            {{ range .images }}
          <div>
            <div class="info">
              <h3 class="outline">{{ .heading }}</h3>
              <h4 class="outline">{{ .subheading }}</h4>
              <!-- <a class="btn btn-primary" href="{{ .link }}">more info</a> -->
              <!-- <p class="down-arrow">
                <a class="btn btn-large btn-down-arrow" href="#theend">
                  <i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i>
                </a>
              </p> -->
            </div>
            <img src="{{ .image | relURL }}" alt="" class="img-fluid">
          </div>
          {{ end }}
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
<!-- </section> -->
{{ end }}
<!-- /hero -->

{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">

    <div class="row">
      <div class="col">
          <div class="content">{{.Content}}</div>
        </div>
    </div>

  </div>
</section>

<script>console.log("layouts / hero / single.html");</script>


{{ end }}