// This file is empty within the template
// You can use it to override CSS from within your project

.nav-item {
  .nav-link {
    text-transform: unset;
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

.navigation {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background-color: #65BF00;
  z-index: 100;
}

.bg-light {
  background-color: rgba($light, .05) !important;
}

.testimonials {
  background-color: white !important;

  .testimonial-block {
    padding: 0 10px;

    i {
      font-size: 40px;
      display: inline-block;
      margin-bottom: 20px;
      color: $primary-color;
    }

    p {
      font-family: $primary-font;
      font-size: 1.4em;
      color: #777;
    }

    .author-details {
      margin-top: 30px;

      img {
        border-radius: 50%;
        width: 50px;
      }

      h4 {
        font-weight: 700;
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }
}