{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row ">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold">Testimonials</h1>
      </div>
      {{ range .Pages }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="blockm text-center">

          <a href="{{.Permalink}}">
            {{ if (gt (.Params.images | len) 0) }}
            <!-- <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}"> -->
            <img class="img-fluid vw-100 lazyload" data-src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" data-sizes="auto" alt="{{.Title}}">
            {{ else }}
            <!-- <img class="img-fluid w-100" src="/img/ram.svg" alt="{{.Title}}"> -->
            <img class="img-fluid vw-100 lazyload" data-src="/images/ram.svg" data-sizes="auto" alt="{{.Title}}">
            {{ end }}
          </a>
        </div>
        <div class="content text-center justify-content-center">
          <h5 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{ .Title }}<br />
              {{ dateFormat "Jan 2006" .Date }}
            </a></h5>
          <!-- <h4 class="subheading"><a class="link-title" href="{{.Permalink}}">{{ .Title | markdownify }}</a></h4> -->
          <p>{{ .Summary }}</p>
          <br/>
          <a href="{{ .Permalink }}" class="btn btn-main-sm">{{ i18n "readmore" }}</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}