{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with .Params.enquiry }}
{{ if .enable }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center text-center text-md-left">

                <form name="contact" id="contact" action="/thankyou" method="post" enctype="multipart/form-data"
                    data-netlify-recaptcha="true" data-netlify="true" autocomplete="off">
                    <div class="form-group">
                        <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md"
                            required="true" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input id="email" name="email" type="email" placeholder="Email Address"
                            class="form-control input-md" required="true" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input id="subject" name="subject" type="text" placeholder="Subject"
                            class="form-control input-md" required="true" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="8"
                            required="true"></textarea>
                    </div>

                    <!-- Button -->
                    {{ with .button }}
                    <div class="content">
                        <div class="mb-4" style="position:relative;">
                            <div style="margin-top:20px;" class="g-recaptcha"
                                data-sitekey="6LdfDRIUAAAAAD2jumM9NsW_VBG081pIsv0CF5En"
                                data-callback="recaptchaCallback"></div>
                            <input id='recaptcha_check_empty' required tabindex='-1'
                                style='width:50px; height:0; opacity:0; pointer-events:none; position:absolute; left:20px; bottom:0;'>
                        </div>
                        <button class="btn btn-main-sm">{{ .label }}</button>
                    {{ end }}

                </form>
            </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}