{{ if .Params.testimonials.enable }}

<section class="section testimonials" id="testimonial">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
          <h2 class="section-title">{{ .Params.testimonials.title | markdownify }}</h2>

        <div class="product-slider">
          {{ range (where .Site.RegularPages "Section" "testimonials") }}
          <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
            <div class="testimonial-block">
              <i class="fas fa-quote-left"></i>
              <p>{{ .Summary | markdownify }}</p>
              <div class="author-details">
                <h4>{{ .Title }}</h4>
                <span>{{ dateFormat "Jan 2006" .Date }}</span>
              </div>
            </div>
            <a href="{{ .Permalink }}" class="btn btn-main btn-main-sm">{{ i18n "read_more" }}</a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}